@use "./root.scss";
@use "./nav.scss";
@use "./loader.scss";

@use "./modules/fullBleed.scss";
@use "./modules/accordion.scss";
@use "./modules/footer.scss";
@use "./modules/button.scss";
@use "./modules/homeCta.scss";
@use "./modules/goals.scss";
@use "./modules/testimonials.scss";
@use "./modules/talk.scss";
@use "./modules/cursor.scss";
@use "./modules/links.scss";
@use "./modules/popup.scss";
@use "./modules/text.scss";

@use "./pages/home/index.scss" as home;
@use "./pages/cases/index.scss" as cases;
@use "./pages/services/index.scss" as services;
@use "./pages/fintech/index.scss" as fintech;
@use "./editor.scss";
@use "./safari-performance.scss";

a:is(.w-webflow-badge) {
  display: none !important;
}

* {
  scroll-behavior: unset;
}

.n-padding {
  @media screen and (max-width: 991px) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.section-space {
  @media screen and (max-width: 991px) {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;

    &:last-child {
      padding-bottom: 0 !important;
    }
  }
}

.heading_outline {
  border: 1px solid var(--color--white);
  background-color: transparent !important;
}

.m-light-grey {
  @media screen and (max-width: 991px) {
    color: var(--color--light-grey);
  }
}

.services_hero_container {
  @media screen and (max-width: 991px) {
    padding: 0 !important;
  }
}

.case_split-video {
  @media screen and (max-width: 991px) {
    order: -1;
  }

  order: 0;
}

.full_container {
  @media screen and (max-width: 991px) {
    padding: 0 !important;
  }
}

.full_container_asset {
  @media screen and (max-width: 991px) {
    padding: 0.5rem !important;
  }
}

.mb-no-pb {
  @media screen and (max-width: 991px) {
    padding-bottom: 0 !important;
  }
}

.mb-no-pt {
  @media screen and (max-width: 991px) {
    padding-top: 0 !important;
  }
}

.mb-padding {
  @media screen and (max-width: 991px) {
    padding: 0 var(--size--24) !important;
  }
}

.mb-padding-small-asset {
  @media screen and (max-width: 991px) {
    padding: 0 var(--size--24) !important;
  }
}

.mb-padding-big-asset {
  @media screen and (max-width: 991px) {
    padding: 0 0.5rem !important;
  }
}

.mb-padding-big-asset-text {
  @media screen and (max-width: 991px) {
    padding: 0 1rem !important;
  }
}

.f-100-mb {
  @media screen and (max-width: 991px) {
    font-size: 4.25rem !important;
    // font-weight: 500 !important;
  }
}
.w-500 {
  font-weight: 500 !important;
}

.cases_title {
  @media screen and (max-width: 991px) {
    width: inherit !important;
    padding-left: var(--size--24) !important;
  }
}

.big-heading {
  @media screen and (max-width: 991px) {
    font-size: var(--size--32) !important;
  }
}

// .marquee_body_space {
//   @media screen and (max-width: 991px) {
//     margin-bottom: var(--size--132) !important;
//   }
// }

.double-img_wrap.regular {
  flex-direction: row;

  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
}

.double-img_wrap.reversed {
  flex-direction: row-reverse;

  @media screen and (max-width: 991px) {
    flex-direction: column-reverse;
  }
}

.double-video {
  aspect-ratio: 1739 / 1303;

  @media screen and (max-width: 991px) {
    aspect-ratio: 359 / 269;
  }
}

.no-mb {
  margin-bottom: 0 !important;
}

.no-mt {
  margin-top: 0 !important;
}

.no-mb-mt {
  @media screen and (max-width: 991px) {
    margin-top: 0 !important;
  }
}

.mt-mb-130 {
  @media screen and (max-width: 991px) {
    margin-top: var(--size--132) !important;
  }
}

.mb-mb-48 {
  @media screen and (max-width: 991px) {
    margin-bottom: var(--size--48) !important;
  }
}

.gap-mb-32 {
  @media screen and (max-width: 991px) {
    gap: var(--size--32) !important;
  }
}

.gap-mb-24 {
  @media screen and (max-width: 991px) {
    gap: var(--size--24) !important;
  }
}

.gap-mb-16 {
  @media screen and (max-width: 991px) {
    gap: var(--size--16) !important;
  }
}
