@media screen and (min-width: 991px)
{
    .cases
    {
        height: calc(50vh * var(--length));
    }

    [data-transition-page="cases"]
    {
        .cases_image
        {
            opacity: 0;
        }
    }
}

.cases_item
{
    .f-28
    {
        position: relative;
        z-index: 2;
    }
}