.accordion
{
    &.active
    {
        .accordion_content
        {
            grid-template-rows: 1fr;
        }

        .accordion_icon
        {
            transform: rotate(45deg);
            // color: var(--color--main);
        }
    }
}

.accordion_content
{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.8s var(--ease);
}

.accordion_icon
{
    transition: transform 0.8s var(--ease), color 0.8s var(--ease);
}
