[wrapper]
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: none;

    .card
    {
        &.absolute
        {
            position: absolute;
        }
    }
}

.curve-path
{
    pointer-events: none;
}

.relative:has(> [wrapper])
{
    display: flex;
}
