.cursor_wrapper.loaded
{
    @media screen and (hover: hover) and (min-width: 992px)
    {
        display: flex;
    }

    .btn_scroll-arrow
    {
        display: none;
    }
}

.cursor.stroke
{
    color: var(--color--white);
    background-color: transparent;
    border: 1px solid var(--color--white);

    .btn_scroll-arrow
    {
        display: block;
    }

    .custom-heading
    {
        display: none;
    }
}