.full_item
{
    .f-64,
    .full_line-parent
    {
        overflow: clip;
    }

    .full_char,
    .full_line
    {
        transition: transform 0.5s var(--expoOut) 0s;
        transform: translateY(110%);
    }

    &.active
    {
        .full_char,
        .full_line
        {
            transition: transform 0.8s var(--expoOut) var(--delay);
            transform: translateY(0);
        }
    }
}