.goals {
  height: 400svh;
}

.goals_sticky {
  height: 100svh;
}

.goal_center {
  overflow: clip;
}

.goals_list {
  position: relative;
}

.goals_item {
  &:not(:first-child) {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--size--60);
    // height: max-content;
  }

  .custom-descr {
    width: calc(var(--max-w) + 2ch);
    max-width: none;
  }

  // .line
  // {
  //     overflow: clip;
  // }

  // .char,
  // .word
  // {
  //     transition: transform 0.8s var(--expoOut) var(--delay);
  //     transform: translate3d(0, -110%, 0);
  // }

  // .goals_number
  // {
  //     transition: transform 0.8s var(--expoOut);
  //     transform: translate3d(0, -110%, 0);
  // }

  // &.active
  // {
  //     .char,
  //     .word,
  //     .goals_number
  //     {
  //         transform: translate3d(0, 0%, 0);
  //     }
  // }

  // &.past
  // {
  //     .char,
  //     .word,
  //     .goals_number
  //     {
  //         transform: translate3d(0, 110%, 0);
  //     }
  // }
}
