.h-cta {
  height: calc(var(--length) * 100vh);
}

.h-cta_sticky {
  height: 100vh;
}

.h-cta_item {
  .custom-heading {
    width: calc(var(--max-w));
    max-width: 100%;

    @media screen and (max-width: 991px) {
      width: auto;
    }
  }
}
