.testimonials_item
{
    transition: color 0.4s var(--expoOut);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;


    &:hover
    {
        color: var(--color--black);
    }
}