.t-96 {
  @media screen and (max-width: 991px) {
    font-size: var(--size--40);
  }
}

.custom-descr :is(em) {
  display: inline !important;
}

// embed calender thing
// #skeleton-container {
//   display: none !important;
// }
.fb-15 {
  @media screen and (max-width: 991px) {
    font-size: 0.94rem;
  }
}

.fm-24 {
  @media screen and (max-width: 991px) {
    font-size: 1.5rem;
  }
}
